<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
  version="4.0"
  metadata-complete="true">

    <display-name>Web-Application "Cables"</display-name>

    <servlet>
      <servlet-name>TestServlet</servlet-name>
      <servlet-class>org.itstep.vinokurov.test.TestServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/index.html</url-pattern>
    </servlet-mapping>
	
	<servlet>
      <servlet-name>TnlaListServlet</servlet-name>
      <servlet-class>org.itstep.vinokurov.web.TnlaListServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>TnlaListServlet</servlet-name>
        <url-pattern>/workspace/tnla/list.html</url-pattern>
    </servlet-mapping>

	<servlet>
      <servlet-name>TnlaListViewServlet</servlet-name>
      <servlet-class>org.itstep.vinokurov.web.TnlaListViewServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>TnlaListViewServlet</servlet-name>
        <url-pattern>/WEB-INF/workspace/tnla/list.html</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
 </web-app>
