* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  margin-top: 0px;
}

fieldset {
  width: 185px;
  height: 35px;
  font-size: 11px;
  background: #D1D2D4;
  border: 1px solid #667280;
  border-radius: 5px;
  padding-top: 0;
}

input {
  background: #D1D2D4;
  width: 100%;
  font-size: 14px;
  border: 0;
  outline: 0;
}

p {
  height: 30px;
}

a {
  text-decoration: none;
  color: #667280;
}

button {
  background: #B0B2B4;
  width: 158px;
  height: 30px;
  border: 1px solid #667280;
  border-radius: 5px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
  font-size: 18px;
  text-align: center;
  color: #667280;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: url("../images/background.jpg") no-repeat;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.logo {
  margin-left: 6px;
}

.authentication-form {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px;
}

.authentication-form-href {
  margin-top: 18px;
}

.menu {
  display: flex;
  align-items: center;
  height: 47px;
  background: #667280;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.menu-hrefs {
  display: flex;
  align-items: center;
  margin-left: 220px;
}

.menu-href {
  height: 44px;
  display: flex;
  align-items: center;
  margin-right: 15px;
  color: #CBC4C1;
}

.container-main {
  display: flex;
  align-items: flex-start;
}

.left_pannel {
  width: 200px;
  height: 410px;
  background: #F3EFED;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.left_pannel-href_cables {
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
}

.left_pannel-href {
  margin: 5px;
  display: inline-block;
  vertical-align: middle;
}

.left_pannel-search {
  display: inline-block;
  vertical-align: middle;
}

.left_pannel-search-fieldset {
  margin: 0px 5px 7px 7px;
  background: #F3EFED;
}

.left_pannel-search-input {
  background: #F3EFED;
}

.left_pannel-search-button {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.main {
  width: 100%;
  background: linear-gradient(180deg, rgba(254, 240, 218, 0) 0%, rgba(254, 240, 218, 0.3) 100%);
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
  padding-bottom: 20px;
}

.main-card {
  width: 291px;
  height: 234px;
  background: #FFFFFF;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  flex-basis: 31%;
  margin-left: 18px;
  margin-top: 20px;
}

.main-card-title {
  padding-top: 15px;
  text-align: center;
  margin: auto;
  width: 200px;
  height: 50px;
}

.footer {
  height: 117px;
  padding: 2px 20px;
  background: #CBC4C1;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.footer-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-info {
  width: 528px;
  height: 88px;
  margin-left: 35px;
  margin-right: auto;
}